@model List<TheJunction.ViewModels.EmployeeViewModel>
@{

    ViewBag.Title = "Employees";
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12" align="right">
    <div class="form-group">
        <a asp-controller="Manager" asp-action="EmployeeDetail" asp-route-id="0" class="btn btn-primary">New Employee</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Cell Number</th>
            <th>Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TheJunction.ViewModels.EmployeeViewModel emp in Model)
        {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.CellNumber</td>
                <td>
                    <input type="checkbox" asp-for="@emp.IsActive" disabled="disabled" />
                </td>
                <td><a asp-controller="Manager" asp-action="EmployeeDetail" asp-route-id="@emp.Id" class="btn btn-primary">View Details</a></td>
            </tr>
        }
    </tbody>
</table>